.body{  
    background-size: contain;
}

.carousel-inner{
margin: 5px;
padding: 60px ;
}
.card{
    margin: 0 auto; /*centrar*/
}

header nav a{
    font-family: "Comic Sans MS";
}

.carousel .carousel-inner .carousel-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-family: "Comic Sans MS";
}
.card-body{
    margin-left: 20px;
}
.card-body h5{
    font-size: 50px;
    font-family: "Comic Sans MS";
}

.card-body p{
    font-size: 22px;
}
